/*Body*/
body{
    background-color: #3D3D3D;
    font: "Inter", sans-serif;
    font-size: 10px;
    color: white;
}



p{
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 2em; /* 200% */
    letter-spacing: -0.47px;
    
    
}
h1{
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.5em; /* 116.667% */
    letter-spacing: -0.57px;
    text-transform: uppercase;
    margin: 0 0 0 0;
    
}
h4{
    font-family: 'inter', sans-serif;
    font-size: 7.5px;
    font-weight: semibold;
    margin: 0;
}
a{
   color: white; 
}

/*Contenedor padre*/
#container{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
    padding: 0 0 0 0;
}

/*Encabezado*/
header{
    width: 100%;
    background-color: #0D0C0D;
    color: white;
    padding: 0;
}

#logo{
    padding-top: 0.5%;
    padding-left: 5%;
}

#lupa{
    left: 13%;
}

button{
    margin: 10px;
    background-color: #0D0C0D;
    color: #CACACA;
    
    font-size: 12px;
    border: none;
}


/*Area de trabajo*/
main{
    width: auto;
    height: 100%;
    background-color: #262626;
    color: white;
    padding: 0% 0% 0% 0%;
}

#imgDetalle{
    width: 100%;
    height: auto;
    margin: 5% 0% 5% 5%;

}


#imgReco{
    width: 100%;
    height: auto;
}

#parrafoDetallado{
    margin-top: 5%;
    padding: 0;
}

hr{
    height:85%;
    width: 5%;
    background-color:#000;
    margin: 0 0 0 0;
   }

#linea1{
    padding-left: 10%;
}

#lineUp{
    left: 3%;
    margin-bottom: 2%;
}

li{
    list-style-type: number;
    padding: 0 1% 1% 1%;
}

#ACT{
    margin: 0 0 2% 0;
}

#parrafoP{
    font-size: 10px;
    padding: 2% 0 0 3%;
    color: white;
}

/*eventos "pequeños"*/

#botonEvento{
    background-color: #0d0c0d00;
    padding: 0;
}

#eventoA{
    width: 100%;
    height: 100%;
    padding: 4%;
}

#parrafoE{
    font-size: 9px;
    padding: 0% 0% 0% 0%;
    color: white;
}

#eventos{
    width: 100%;
}

/*Pie de pagina*/

footer{
    width: 100%;
    background-color: #0D0C0D;
    color: white;
    padding: 6% 0% 6% 0%;
}


footer.p{
    font-size: 3px;
}

footer.a{
    font-size: 3px;
}

/* Area perfil*/

#perfilFontP{
    margin: 0 0 0 1.5em;
}
    #containerPerfil{
        width: 100%;
        height: 100%;

    }

    #lateralIzquierdo{
    background-color: #0D0C0D;
    padding: 1em 1em 1em 3em;
    position: relative;
    }
    #LateralDerecho{
        color:#0D0C0D;
        background-color: #ffffff;
        width:100%;
        height: 100%;
        margin: 0;

        
    }
    #lineasHorizantal{
        height: 0.1em;
        width: 80%;
        background-color: #0D0C0D;
        margin: 1% 0  1% 10%;
    
    }
    #lineasHorizantal2{
        height: 0.03em;
        width: 80%;
        background-color: #0D0C0D;
        margin: 1% 0 70% 10%;

    }
    
    #tituloPerfil{
    color: #ffffff;
    background-color: #0D0C0D;
    border-radius: 0.4em;
    text-align: center;
    padding: 0.7em 0 0.7em ;
    margin: 1em 0 1em 1.5em ;
    width: 9em;
    }


/* Btn lateral*/
.bn1 {
    display: inline-block;
    padding: 0.6em 1.7em;
    border: 0.1em solid #ffffff;
    margin: 0.7rem 15% 0.7rem 15%;
    border-radius: 0.4em;
    box-sizing: border-box;
    text-decoration: none;
    color: #0D0C0D;
    text-align: center;
    transition: all 0.2s;
    background-color: #ffffff;
    
  }
  
.bn1:hover {
    color: #ffffff;
    background-color: #0D0C0D;
  }

#btnPerfil{
    display: inline-block;
    padding: 0.3em 0.3em 0.35em 0.3em; 
    border: 0.1em solid #ffffff;
    margin: 0.5em 0 0.5em 1.5em;
    border-radius: 0.8em;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    width: 6em;
}
#btnPerfil:hover{
    color: #ffffff;
    background-color: #0D0C0D;

}
#btnPerfilModal{
    display: inline-block;
    padding: 0.3em 0.3em 0.35em 0.3em; 
    border: 0.1em solid #ffffff;
    margin: 0.5em 0.5 0.5em 0.5em;
    border-radius: 0.8em;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    width: 6em;
}
#btnPerfilModal:hover{
    color: #ffffff;
    background-color: #0D0C0D;
}
#btnPerfilModalNombre{
    display: inline-block;
    padding: 0.3em 0.3em 0.35em 0.3em; 
    border: 0.1em solid #ffffff;
    margin: 0.5em 1em 0.5em 10%;
    border-radius: 0.8em;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    width: 6em;
}
#btnPerfilModalNombre:hover{
    color: #ffffff;
    background-color: #0D0C0D;
}


/*icono*/
#iconoPerfil{
    margin: 1em 0 25% 0;
    position: relative;
    top: 3%;
    
}
/*input Perfil*/
#inputPerfil{
    padding: 0.8em 5em 0.8em ;
    border-radius:0.5em ;
    margin: 1em 0 1em 0 ;
    border-color:#0D0C0D ;
    
    
}

/*-------------------------Area modal-------------------------------------------------------------------*/
#modalPerfil{
    color:#0D0C0D;
    background-color: #ffffff;
    width:40%;
    margin: 0 0% 0 35%;
    opacity: 1;
    padding:  0.1em 1em 0.1em 1em;
    border-radius: 1em;
    position: a;
}


